<div>Commit 3</div>

<h1>No Conflict</h1>


<div class="form">
  <input type="text">

</div>
<div>
 <p>he result of this increased pressure was not only to exhaust the goose that
    laid golden eggs for the castle, but to provoke, from sheer desperation,
    movement of illegal emigration from the manors. . . . [So] considerable did the
    problem of fugitives become and so great the hunger for labor, that, despite
    treaties and mutual promises, an actual competition developed to entice and steal
    the serfs of a neighboring domain—a competition which . . . involved the
    making of certain concessions, and the existence of which imposed its own
    limits on the further increase of feudal exploitation.” Maurice Dobb, Studies in
    the Development of Capitalism (London: Routledge & Kegan Paul, 1916)
  </p>
</div>
